*{
    margin: 0;
    padding: 0;

}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8c8dc;
}
.Shop-name{
    font-family: fantasy;
    color: #c9184a;
    font-size: 25px;
}
.logoIcon{
    color: #a4133c;
    font-size: 20px;
    margin-left: 20px;
}
.NavLinks{
    list-style: none;
    display: flex;
}
.NavLinks li{
    margin: 0 25px;
}
.NavLinks a{
    text-decoration: none;
    color:#4b0082;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.3s ease;
}
.NavLinks a:hover{
    color: white;
    background: #c9184a;
    border-radius: 5px;
}
.hero{
    text-align: center;
    padding: 60px 20px;
    background: url(https://wallpapers.com/images/hd/beautiful-flower-1920-x-1286-background-78twv7dxmj1drv4u.jpg) no-repeat center center;
    background-size: cover;
    color: #ff69b4;
}
.hero h1{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}
.hero p{
    font-size: 16px;
}
.btn{
    display: inline-block;
    margin: 10px;
    padding: 10px 10px;
    background-color:#f28ab2;
    text-decoration: none;
    color: snow;
    font-weight: bolder;
    border-radius: 10px; 
}
.products{
    padding: 40px 20px;
    text-align: center;
}
.products h2{
    color: #ff69b4;
}
.Product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 25px;
    color: #4b0082;
}
.Product-card{
    border: 2px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    padding-top: 30px;
    transition: all 0.3s ease;
}
.Product-card img{
    border-radius: 8px;
}
.Product-card:hover{
    box-shadow: 0 0 15px #ff69b4;
}
.add-to-cart{
    border-color: #a4133c;
    background-color: #FFB7C5;
    font-weight: bolder;
    transition: all 0.3s ease;
}
.add-to-cart:hover{
    background-color: #c9184a;
    color: purple;
    transform: scale(1.05);
}

footer{
    text-align: center;
    background: #f8c8dc;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
#heart{
    color: red;
}
@media (max-width: 992px) {
  .Product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .NavLinks{
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .Product-grid {
    grid-template-columns: 1fr;
  }
  .NavLinks{
    flex-direction: column;
  }
}
.About h2{
     
     margin-top: 30px;
     margin-bottom: 20px;
     color: #ff69b4;
     margin-left: 80px;
}
.About p{
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
    font-family: 'Merriweather';
    font-size: medium;
    color: #1C1C3C;
    font-style: italic;
    font-weight: bolder;
}
.Team-Grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 80px;
    margin-top: 40px;
    color: #4b0082;
}
.Team-Member{
    border: 2px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    padding-top: 30px;
    transition: all 0.3s ease;
    
}
.Team-Member p{
    text-align: center;
}
.Team-Member h3{
    text-align: center;
}
.Team-Member img{
    margin-left: 80px;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 8px;
   
}
.Team-Member:hover{
    box-shadow: 0 0 15px #ff69b4;
}
@media (max-width: 992px) {
  .Team-Grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .Team-Grid {
    grid-template-columns: 1fr;
  }
}
.Contact h2{
    color: #ff69b4;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(192, 108, 132, 0.4);    

}
.Contact p{
    font-weight: bold;
    font-size: large;
    text-shadow: 1px 1px 3px rgba(192, 108, 132, 0.4);
    color: #4b0082;
}
.Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.Contact-Form label{
    color: #ff69b4;
    font-weight: bold;
    font-size: large;
}
#subbtn{
    display: inline-block;
    padding: 10px 10px;
    background-color:#f28ab2;
    text-decoration: none;
    color: snow;
    font-weight: bolder;
    border-radius: 10px; 
}
.Contact-Form input{
    height: 10px;
    width: 200px;
    color: gray;
    border-radius: 8px;
    padding: 10px;
}
.Contact-Form textarea{
    color: gray;
    border-radius: 8px;
    height: 100px;
    width: 260px;
    padding: 10px;
    border-width: 2px;
}